{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
 <link rel="stylesheet" type="text/css" href=" {% static 'home.css' %} ">
{% endblock custom_css %}
<link rel="stylesheet" href=" {% static 'bootstrap.min.css' %} ">
{% block content %}

<div class="container card text-center" >
    
    <div class="row ">
        <div class="col ion-text-center">
         <!-- <div class="content" style="background-color: rgb(166, 44, 190); text-align: center;"> -->
           <h1>|| Attendance ||</h1>
           <h3> YOUR ATTENDANCE MATTERS</h3>
              {% if request.user.is_authenticated %}
              <a href="{% url 'polls:list' %}"> <button type="button" class="btn btn-dark btn-lg">Mark Your Attendance Now!</button></a>
              {% else %}
              <a href="{% url 'accounts:login' %}"> <button type="button" class="btn btn-primary"> Go to login</button></a>
              {% endif %}       
          
         
        </div>
    
    </div>
</div>
<br> 
<center> <h1> COURSES </h1> </center>
  <div class="row row-cols-3 row-cols-md-4 g-4">
    <div class="col">
      <div class="card">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.chefdentreprise.com%2FImg%2FBREVE%2F2019%2F5%2F339553%2FLes-CSE-mettent-ils-place-comme-ordonnances-prevoyaient--T.jpg&f=1&nofb=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CSE</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://www.successcds.net/images/mechanical-engineering.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ME</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://5.imimg.com/data5/CR/OM/HN/SELLER-3765568/civil-engineering-work-500x500.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CE</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://uploads.sarvgyan.com/2014/06/electrical-engineering-image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">EC</h5>
         
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}